#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(121, 116, 116);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(196, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(43, 32, 32);
  text-decoration: none;
}

a {
  color: rgb(68, 61, 61);
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(121, 116, 116);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
  color:black;
  gap: 5px,
}
.create-recipe form {
  display: flex;
  flex-direction: column;

}
.create-recipe form input,
.create-recipe form textarea,
.create-recipe form button {
margin-bottom: 15px;  
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  width: 400px;
}

 
